<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include("header") -%>
<body>

<div class="section">
<div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
</div>

<div class="box">
    <% for (var item = 0; item < newItems.length; item++) { %>
    <div class="item">
        <input type="checkbox">
        <p><%= newItems[item] %></p>
    </div>
        <% } %>


    <form class="item" action="<%= endpoint %>" method="post">
        <input type="text" name="newItem" placeholder="Add New Item" autocomplete="off" autofocus>
        <button type="submit" name="submit">+</button>
    </form>

</div>
</div>
<%- include("footer") -%>

</body>
</html>